/bin
/res/data/*
!/res/data/telecomParty
/res/fonts/*
!/res/fonts/telecomParty
/res/images/*
!/res/images/telecomParty
/res/musics/*
!/res/musics/telecomParty
/res/sounds/*
!/res/sounds/telecomParty
/src/games/*
!/src/games/telecomParty
/out
/tmp
/zip
/*.idea
/*.iml
.DS_Store
Thumbs.db
