/bin
/res/data/bomberman
/res/data/clicker
/res/data/codeFall
/res/data/maze
/res/data/pacmanBattle
/res/data/pathPainting
/res/data/pong
/res/data/preciseLock
/res/data/reflex
/res/fonts/bomberman
/res/fonts/clicker
/res/fonts/codeFall
/res/fonts/maze
/res/fonts/pacmanBattle
/res/fonts/pathPainting
/res/fonts/pong
/res/fonts/preciseLock
/res/fonts/reflex
/res/images/bomberman
/res/images/clicker
/res/images/codeFall
/res/images/maze
/res/images/pacmanBattle
/res/images/pathPainting
/res/images/pong
/res/images/preciseLock
/res/images/reflex
/res/musics/bomberman
/res/musics/clicker
/res/musics/codeFall
/res/musics/maze
/res/musics/pacmanBattle
/res/musics/pathPainting
/res/musics/pong
/res/musics/preciseLock
/res/musics/reflex
/res/sounds/bomberman
/res/sounds/clicker
/res/sounds/codeFall
/res/sounds/maze
/res/sounds/pacmanBattle
/res/sounds/pathPainting
/res/sounds/pong
/res/sounds/preciseLock
/res/sounds/reflex
/src/games/bomberman
/src/games/clicker
/src/games/codeFall
/src/games/maze
/src/games/pacmanBattle
/src/games/pathPainting
/src/games/pong
/src/games/preciseLock
/src/games/reflex
/out
/tmp
/zip
/*.idea
/*.iml
.DS_Store
Thumbs.db
